.button {
  width: 295px;
  height: 82px;
  display: flex;
  background-color: #b7b5e7;
  cursor: pointer;
  border: none;
  padding: 20px;
  border-radius: 20px;
  align-self: center;
  box-shadow: 4px 8px 1px rgba(0, 0, 0, 1);
}
