.button {
  width: 295px;
  height: 82px;
  display: flex;
  background-color: #b7b5e7;
  cursor: pointer;
  border: none;
  padding: 20px;
  border-radius: 20px;
  align-self: center;
  box-shadow: 4px 8px 1px rgba(0, 0, 0, 1);
}
@media screen and (max-width: 640px) {
  .button {
    height: 70px;
  }
}

@media screen and (max-width: 320px) {
  .button {
    width: 80%;
    height: 60px;
  }
}
