.cartItem__header {
  max-width: 360px;
  font-family: marquisette;
  color: #007a65;
  font-size: 32px;
  text-align: center;
}
.cartItem__sub-header {
  color: #595b56;
  font-size: 25px;
  font-family: marquisette;
}
