.form__fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  justify-content: center;
}
.form__link {
  align-self: center;
  margin-top: 30px;
}
