.form__fieldset {
  width: 95%;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: center;
}
.form__link {
  align-self: center;
  margin-top: 30px;
}
