.hotToday__images {
  width: 50%;
  display: flex;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .hotToday__images {
    width: 45%;
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 0px auto 30px;
  }
}
@media screen and (max-width: 800px) {
  .hotToday__images {
    width: 80%;
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 0px auto 30px;
  }
}

@media screen and (max-width: 500px) {
  .hotToday__images {
    width: 80%;
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 0px auto 15px;
  }
}
