.cartItem {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) {
  .cartItem {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .cartItem {
    width: 100%;
    margin-bottom: 10px;
  }
}
