.navBar__link {
  color: #595b56;
  font-size: 50px;
  font-family: bugisnia;
  text-decoration: none;
  align-self: auto;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .navBar__link {
    font-size: 38px;
  }
}

@media only screen and (max-width: 490px) {
  .navBar__link {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .navBar__link {
    font-size: 20px;
    margin-right: 5px;
  }
}
