.hotToday__text {
  width: 80%;

  color: #595b56;
  font-family: matter;
  font-size: 36px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .hotToday__text {
    width: 90%;
    color: #595b56;
    font-family: matter;
    font-size: 18px;
    margin: 0px auto 20px;
    text-align: center;
  }
}
