.popup__sizes {
  margin: 10px 0px 5px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-auto-rows: 60px;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .popup__sizes {
    grid-template-columns: repeat(auto-fit, 75px);
    grid-auto-rows: 50px;
  }
}
