.popup__sizes {
  margin: 10px 0px 5px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-auto-rows: 60px;
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .popup__sizes {
    grid-template-columns: repeat(auto-fit, 70px);
    grid-auto-rows: 46px;
    height: auto;
    margin: 8px 0px 8px;
  }
}

@media screen and (max-width: 600px) {
  .popup__sizes {
    grid-template-columns: repeat(auto-fit, 50px);
    grid-auto-rows: 34px;
    height: auto;
    margin: 2px 0px 2px;
  }
}

@media screen and (max-width: 400px) {
  .popup__sizes {
    grid-template-columns: repeat(auto-fit, 40px);
    grid-auto-rows: 26px;
    height: auto;
    margin: 0px;
  }
}
