.card__price {
  font-family: matter;
  font-size: 40px;
  color: #ed6a4c;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .card__price {
    font-size: 24px;
  }
}
