.form__header {
  color: #007a64;
  font-family: bugisnia;
  font-size: 64px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .form__header {
    font-size: 24px;
  }
}

.form__header_type_sign {
  font-weight: 500;
}

.form__header_type_profile {
  font-weight: 500;
  color: #edcde1;
}
.form__header_type_address {
  margin-top: 25px;
}
