.form__header {
  color: #007a64;
  font-family: bugisnia;
  font-size: 64px;
  text-align: center;
}
.form__header_type_sign {
  font-size: 52px;
  font-weight: 500;
}

.form__header_type_profile {
  font-size: 52px;
  font-weight: 500;
  color: #edcde1;
}

.popup__header_type_product {
  color: #007a64;
  font-family: marquisette;
  font-size: 58px;
  text-align: center;
  font-size: 45px;
  margin-top: 20px;
  height: auto;
}
