.form__header {
  color: #007a64;
  font-family: marquisette;
  font-size: 64px;
  text-align: center;
}
.form__header_type_sign {
  font-family: bugisnia;
  font-size: 52px;
  font-weight: 500;
}

.form__header_type_profile {
  font-family: bugisnia;
  font-size: 52px;
  font-weight: 500;
  color: #e6d6cb;
}
