.navBar__bag-quantifier {
  margin-top: 25px;
  margin-left: -20px;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #b7b5e7;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .navBar__bag-quantifier {
    width: 26px;
    height: 26px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 490px) {
  .navBar__bag-quantifier {
    width: 16px;
    height: 16px;
    font-size: 9px;
  }
}
