.card {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e6d6cb;
  box-shadow: 4px 8px 1px rgba(0, 0, 0, 1);
  border-radius: 40px;
  border: 2px solid black;
  overflow: hidden;
}

.card:hover {
  animation: zoom 1s ease;
}

@media screen and (max-width: 400px) {
  .card {
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 1);
  }
}
