.cart__image-container {
  width: 165px;
  min-width: 100px;
  height: 100%;
  border-radius: 30px;
  border: 1.2px solid black;
  overflow: hidden;
  margin-right: 20px;
  align-self: center;
}

@media screen and (max-width: 400px) {
  .cart__image-container {
    width: 100px;
    height: auto;
    margin-right: 5px;
  }
}
