.cartItem__quantitybox-button {
  display: flex;
  margin: auto;
  min-height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: #b7b5e7;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
}
.cartItem__quantitybox-button_delete {
  width: 60px;
  margin-right: 0;
}
