.products__container {
  padding: 30px;
  justify-content: center;

  max-width: 1280px;
  margin: 0px auto 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  gap: 40px;
  grid-auto-rows: 590px;
}

@media screen and (max-width: 400px) {
  .products__container {
    grid-template-columns: repeat(auto-fit, 140px);
    grid-auto-rows: 300px;
    gap: 10px;

    padding: 0px;
  }
}
