.products__container {
  padding: 30px;
  justify-content: center;

  max-width: 1280px;
  margin: 0px auto 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  gap: 40px;
  grid-auto-rows: 590px;
}

@media screen and (max-width: 860px) {
  .products__container {
    grid-template-columns: repeat(auto-fit, 330px);
    grid-auto-rows: 500px;
    gap: 30px;
    margin-bottom: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 650px) {
  .products__container {
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: 330px;
    gap: 25px;
    margin-bottom: 50px;
    padding: 10px;
  }
}
