.cartItem__quantityBox-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .cartItem__quantityBox-container {
    width: 100%;
    height: auto;
    margin-top: 4px;
  }
}

@media screen and (max-width: 700px) {
  .cartItem__quantityBox-container {
    width: 100%;
    height: auto;
    margin-top: 4px;
  }
}

@media screen and (max-width: 400px) {
  .cartItem__quantityBox-container {
    margin-top: 0px;
  }
}
