.cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  background-color: #eee3db;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .cart__container {
    max-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .cart__container {
    max-width: 95%;
  }
}
