.popup__container_type_product {
  max-width: 40%;
  width: 65%;
  height: 98vh;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 0%;
  position: relative;
  overflow-y: auto;
}

.cardPopup {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .popup__container_type_product {
    width: 85%;
  }
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .popup__container_type_product {
    width: 100%;
    height: 95%;
  }
}
