.popup__container_type_sign {
  width: 65%;
  height: 80%;
  background-color: #b7b5e7;
  margin: 150px auto;
  padding-top: 150px;

  justify-content: center;
}

@media screen and (max-width: 400px) {
  .popup__container_type_sign {
    padding-top: 65px;
    margin: 75px auto;
    border-radius: 20px;
  }
}
