.popup__container_type_profile {
  background-color: #007a64;
  width: 75%;
  height: 80%;
  min-height: 300px;
  margin: 130px auto;
  padding: 150px 5px 150px 5px;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .popup__container_type_profile {
    padding-top: 100px;
    margin: 130px auto;
  }
}

@media screen and (max-width: 800px) {
  .popup__container_type_profile {
    padding-top: 70px;
    margin: 100px auto;
    border-radius: 20px;
  }
}

@media screen and (max-width: 600px) {
  .popup__container_type_profile {
    padding-top: 90px;
    margin: 80px auto;
    border-radius: 20px;
  }
}

@media screen and (max-width: 400px) {
  .popup__container_type_profile {
    padding-top: 65px;
    height: 70%;
    min-height: 270px;
    margin: 75px auto;
    border-radius: 20px;
  }
}
