.popup__container_type_profile {
  background-color: #007a64;
  width: 100%;
  height: 50%;
  margin: 100px auto;
  padding-top: 150px;
  padding-bottom: 40px;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .popup__container_type_profile {
    padding-top: 75px;
  }
}
