.popup__container_type_sign {
  width: 65%;
  height: 80%;
  background-color: #b7b5e7;
  margin: 130px auto;
  padding-top: 150px;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .popup__container_type_sign {
    padding-top: 100px;
    margin: 130px auto;
  }
}

@media screen and (max-width: 800px) {
  .popup__container_type_sign {
    padding-top: 70px;
    margin: 100px auto;
    border-radius: 20px;
  }
}

@media screen and (max-width: 600px) {
  .popup__container_type_sign {
    padding-top: 90px;
    margin: 80px auto;
    border-radius: 20px;
  }
}

@media screen and (max-width: 400px) {
  .popup__container_type_sign {
    padding-top: 65px;
    height: 70%;
    margin: 75px auto;
    border-radius: 20px;
  }
}
