.button_type_sign {
  background-color: #edcde1;
  display: flex;
  width: 80%;
  height: 70px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 8px 1px rgba(0, 0, 0, 1);
  margin-top: 50px;
}
