.infoTool__text {
  font-size: 26px;
  color: #595b56;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .infoTool__text {
    font-size: 18px;
    color: #595b56;
    margin-bottom: 20px;
  }
}
