.popup__image-container {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 200px;
  max-height: 45%;
  background-color: #edcde1;
  justify-content: center;
  border-radius: 40px;
}
