.hotToday__header {
  max-width: 70%;

  color: #007a64;
  font-family: marquisette;
  text-align: center;
  font-size: 80px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .hotToday__header {
    max-width: 90%;
    font-size: 62px;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 800px) {
  .hotToday__header {
    max-width: 90%;
    font-size: 50px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 600px) {
  .hotToday__header {
    max-width: 90%;
    font-size: 38px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 400px) {
  .hotToday__header {
    max-width: 90%;
    font-size: 28px;
    margin-bottom: 20px;
  }
}
