.popup__image {
  max-width: 400px;
  height: 95%;
  object-fit: contain;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .popup__image {
    max-width: 90%;
    height: 250px;
  }
}
