.popup__paragraph {
  margin-top: 15px;
  color: #595b56;
  font-size: 22px;
  text-align: center;
  align-self: start;
}
.form__paragraph-disclaimer {
  margin-top: 55px;
  font-size: 18px;
  margin-bottom: 20px;
  height: auto;
}
