.popup__paragraph {
  color: #595b56;
  font-size: 22px;
  text-align: center;
  align-self: start;
}
.popup__paragraph-disclaimer {
  font-size: 14px;
  height: auto;
}

@media screen and (max-width: 480px) {
  .popup__paragraph {
    font-size: 18px;
  }
}
