.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.popup_opened {
  display: flex;
  visibility: visible;
}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
}
