.popup {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 10;
}
.popup_opened {
  display: flex;
  visibility: visible;
}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
}
