.popup__price {
  color: #ed6a4c;
  font-weight: bold;
  font-size: 34px;
  align-self: center;
  height: auto;
}

@media screen and (max-width: 800px) {
  .popup__price {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) {
  .popup__price {
    font-size: 18px;
  }
}

@media screen and (max-width: 300px) {
  .popup__price {
    font-weight: bold;
    font-size: 15px;
  }
}
